*{
    background-color: #FFE6D6;
}

h1 {
    text-align: center;
    font-family: cursive;
    font-size: 35px;
}

h2 {
text-align:center;
color:#004FB6;
font-family:cursive;
font-size: 25px;
}

p{
    text-align: justify;
    color: #55433C;
}



